*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, .container {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height:100%;
	overflow: hidden;
}

.navigation {
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	width: 20%;
	height: 100%;
}

.scrollable {
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	width: 80%;
	height:100%;
}

.scrollable iframe {
	border: 0;
	margin: 0;
	padding: 0;
    width: 100%;
	height:100%;
}

.selected {
	background: #22638F;
}

.btn {
	cursor: pointer;
}

@media screen and (max-width: 800px) {

	.navigation {
		width: 100%;
		height: 10%;
	}

	.scrollable {
		width: 100%;
		height: 90%;
		-webkit-overflow-scrolling: touch !important; 
		overflow-y: scroll !important;
	}
}

@-webkit-viewport {width: device-width;}
@-moz-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@-o-viewport {width: device-width;}
@viewport {width: device-width;}