*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height:100%;
	overflow: hidden;
}

main {
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	width: 20%;
	height: 100%;
}

.scrollable {
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	width: 80%;
	height:100%;
}

.scrollable iframe {
	border: 0;
	margin: 0;
	padding: 0;
	width: 10px !important;
    min-width: 100%;
	height:100%;
}

.selected {
	background: #22638F;
}

.btn {
	cursor: pointer;
}

.panic {
	position: absolute;
    bottom: 2px;
    left: 2px;
	width: 40px;
}

.circle{
	width:100%;
	border-radius:50%;
	text-align:center;
	font-size: 12px;
	padding:50% 0;
	line-height:0;
	position:relative;
	background: #cc0000;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	cursor: pointer;
}

@media screen and (max-width: 800px) {

	main {
		width: 100%;
		height: 10%;
	}

	nav {
		width:100%;
		height:90%;
	}

	.scrollable {
		width: 100%;
		max-width: 100%;
		height: 90%;
	}
}

@-webkit-viewport {width: device-width;}
@-moz-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@-o-viewport {width: device-width;}
@viewport {width: device-width;}