*, *:before, *:after {box-sizing:border-box;}

html, body {margin:0;padding:0;border:0;width:100%;height:100%;overflow:hidden;}

main {
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	width: 20%;
	height: 100%;
	background: #eee;
}

.scrollable {
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	width: 80%;
	height:100%;
}

.scrollable iframe {
	border: 0;
	margin: 0;
	padding: 0;
    width: 100%;
	height:100%;
}

.fullscreen {
	width: 100%; height: 100%;
	position: absolute; top: 0; left: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background: #eee;
	z-index: 1;
}

input {
	margin: 6px auto;
	display: block;
	outline: none;
	-webkit-appearance: none;
	background: #f6f6f6;
	border: solid 1px #ccc;
	padding: 6px 9px 6px 9px;
	width: 160px;
	border-radius: 6px;
	transition: all .5s;
}

input:focus {
	background-color: #fff;
    border-color: #3498db;	
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

.btn {
	min-height: 40px;
	font: 1.2em  Arial, Helvetica, sans-serif;
	color: #ffffff;
	margin-bottom: 1px;
	line-height: 2;
	background: hsl(210, 100%, 60%);
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

.btn:hover {
	border-left:6px solid hsl(209, 43%, 40%);
	border-right:6px solid hsl(209, 43%, 40%);
}

.selected {
	background: hsl(209, 43%, 40%);
}

.panic {
	position: absolute;
    bottom: 2px;
    left: 2px;
	width: 40px;
}

.circle{
	width:100%;
	border-radius:50%;
	text-align:center;
	font-size: 12px;
	padding:50% 0;
	line-height:0;
	position:relative;
	background: #cc0000;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	cursor: pointer;
}

.arrow {
	height: 30px;
	width: 30px;
	border-radius: 1px;
	background: hsl(210, 100%, 60%);
	font-size: 0.9em;
	line-height: 2;
	color: #fff;
	display: none;
	text-align:center;
}
.arrow:before {content: '\25BC';}
.on:before {content: '\25B2';}

.togglenav {
	display: block;
	position:absolute;
	top:42px;
	z-index:1;
	background: white;
}

@media screen and (max-width: 800px) {

main {
	width: 100%;
	height: 42px;
}

nav {
	width:100%;
	height:calc(100% - 42px);
	display: none;
}

.scrollable {
	width: 100%;
	height:calc(100% - 42px);
}

.arrow {
	display: block;
	position: absolute;
	top: 6px;
	right: 6px;
}
}