*, *:before, *:after {box-sizing:border-box;}

html, body {margin:0;padding:0;border:0;width:100%;height:100%;overflow:hidden;}

main {
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	width: 220px;
	height: 100%;
	background: #f2f3f5;
	overflow-y: auto;
}

h1 {
	margin: 0;
	font: bold 2.5em Helvetica, Arial, sans-serif;
}
h4 {
	margin: 0;
	font: 0.9em Helvetica, Arial, sans-serif;
}
nav p {
	font: 0.9em Helvetica, Arial, sans-serif;
	text-align: center;
	color: #a0a0a0;
}
section p {
	margin-top: 0px;
	font: 0.9em Helvetica, Arial, sans-serif;
	color: #555;
	max-width: 400px;
}

#option-close {
	margin:10px;
	text-align:center;
	cursor:pointer;
}

.scrollable {
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	width: calc(100% - 220px);
	height:100%;
}

.scrollable iframe {
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height:100%;
}

.fullscreen {
	width: 100%; height: 100%;
	position: absolute; top: 0; left: 0;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-flex-direction: column;
	flex-direction: column;
	background: #eee;
	z-index: 1;
}

input {
	margin: 6px auto;
	display: block;
	outline: none;
	-webkit-appearance: none;
	background: #f8f8f8;
	border: 1px solid #ccc;
	padding: 6px 9px 6px 9px;
	width: 160px;
	border-radius: 5px;
	transition: all .5s;
}

input:focus {
	background: #fff;
	border-color: #3498db;	
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

ul {
	margin: 0;
	width: 160px;
	display: none;
	z-index: 2;
	padding: 0;
	border-radius: .3em;
	background: hsl(0,0%,100%);
	border: 1px solid rgba(0,0,0,.3);
	text-shadow: none;
	list-style: none;
}
li {
	font: 0.8em Helvetica, Arial, sans-serif;
	padding: .2em .5em;
	cursor: pointer;
}
.liselected {
	background: #aaa;
}

.btn {
	min-height: 40px;
	font: 1em/40px Helvetica, Arial, sans-serif;
	color: #404040;
	text-align: center;
	cursor: pointer;
	transition: background .25s ease-in-out;
}

.btn:hover {
	background: rgba(0,0,0,.1);
}

.selected, .selected:hover {
	background: hsla(209,76%,45%,.6);
	color: #fefefe;
}

.panic {
	min-height: 40px;
	font: 1em/40px Helvetica, Arial, sans-serif;
	color: #404040;
	text-align: center;
	cursor: pointer;
	transition: background .25s ease-in-out;
}
.panic:hover {
	background: #cc0000;
	color: #ffffff;
}

.menubtn {
	min-height: 40px;
	font: 1em/40px Helvetica, Arial, sans-serif;
	color: #404040;
	/*color: #ffffff;
	background: hsl(209, 68%, 63%);*/
	text-align: center;
	cursor: pointer;
}

.arrow {
	height: 30px;
	width: 30px;
	border-radius: 1px;
	background: hsl(209, 68%, 63%);
	font: 0.9em/30px Helvetica, Arial, sans-serif;
	color: #fff;
	display: none;
	text-align:center;
}
.arrow:before {content: '\25BC';}
.arrowon:before {content: '\25B2';}
.arrowon {box-shadow: inset 0 0 5px rgba(0,0,0,.5)}

.menuicon {
	height: 30px;
	width: 30px;
	border-radius: 1px;
	background: hsl(209, 68%, 63%);
	font: 1.2em/30px Helvetica, Arial, sans-serif;
	color: #fff;
	display: none;
	text-align:center;
}
.menuicon:before {content: '\2261';}
.menuiconon {box-shadow: inset 0 0 5px rgba(0,0,0,.5)}

.togglenav {
	display: block;
	position:absolute;
	top:42px;
	z-index:1;
	background: #f2f3f5;
}

section {
	display: none;
}

.options {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	width: 100%; height: 100%;
	position: absolute; top: 0; left: 0;
	background: rgba(0,0,0,.9);
	z-index: 1;
}

.roundbox {
	margin: 0 auto;
	background: #fff;
	border-radius: 16px;
	padding: 10px;
	font: 1em Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 800px) {

main {
	width: 100%;
	height: 42px;
}

nav {
	width:100%;
	height:calc(100% - 42px);
	display: none;
	overflow-y: auto;
}

.scrollable {
	width: 100%;
	height:calc(100% - 42px);
}

.panic {
	background: #cc0000;
	color: #ffffff;
}

.arrow {
	display: block;
	position: absolute;
	top: 6px;
	right: 6px;
}

.menuicon {
	display: block;
	position: absolute;
	top: 6px;
	left: 6px;
}

}